body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #ffffff, #ffffff);
  color: white;
}

.add-lecturer-page {
  padding: 20px;
}

.form-container {
  background-color: #ffffff;
  color: #333;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 800px;
  margin: auto;
  position: relative;
  top: 100px;
}

h1 {
  text-align: center;
  color: #333;
}

.form-section {
  display: flex;
  justify-content: space-between;
}

.form-left,
.form-right {
  width: 48%;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input,
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

input[type="file"] {
  border: none;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.add-btn {
  background-color: #28a745;
  color: white;
}

.remove-btn {
  background-color: #dc3545;
  color: white;
  margin-left: 10px;
}
