.container {
         background-color: white;
         width: 400px;
         padding: 30px;
         border-radius: 10px;
         box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
       }
       
       
       .header {
         text-align: center;
         margin-bottom: 30px;
       }
       
       .header .text {
         font-size: 24px;
         font-weight: bold;
         color: rgb(56, 0, 177);
       }
       
       .header .underline {
         width: 300px;
         height: 5px;
         background-color: #dedfe1;
         margin: 10px auto;
         border-radius: 10px;
       }
       
      
       .inputs {
         margin-bottom: 20px;
         
       }
       
       
       .input {
         display: flex;
         align-items: center;
         margin-bottom: 20px;
         
       }
       
       .input img {
         width: 20px;
         margin-right: 10px;
         padding-right: 7px;
       }
       
       .input input {
         width: 100%;
         padding: 10px;
         font-size: 12px;
         border: none;
         background-color: #f7f9f9;
         border-radius: 5px;
         outline: none;
         transition: border-color 0.3s ease;
       }
       
       .input input:focus {
         border-color: #007BFF;
       }
       
      
       .forgot_password {
         text-align: center;
         margin-bottom: 20px;
         font-size: 14px;
       }
       
       .forgot_password span {
         color: #007BFF;
         cursor: pointer;
         text-decoration: underline;
       }
       
       .forgot_password span:hover {
         color: #0056b3;
       }
       
       
       .submit_buttons {
         display: flex;
         justify-content: space-between;
         gap: 10px;
       }
       
       .submit {
         background-color: #dedfe1;
         color: rgb(56, 0, 177);
         font-weight: bold;
         padding: 10px 20px;
         font-size: 14px;
         border: none;
         border-radius: 5px;
         cursor: pointer;
         width: 48%;
         text-align: center;
         transition: background-color 0.3s ease;
       }
       
       .submit:hover {
         background-color: #b4b5b6;
       }
       
       .submit:active {
         background-color: #7e7e7e;
       }
       .chng{
         background-color: #dfdfdf;
         color: #8db2fc;
         font-weight: bold;
         padding: 10px 20px;
         font-size: 14px;
         border: none;
         border-radius: 5px;
         cursor: pointer;
         width: 48%;
         text-align: center;
         transition: background-color 0.3s ease;
       }