/* Global styles for the document */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
 
 
 display: flex;
 justify-content: center; 
 align-items: center; 
 min-height: 100vh; 
 margin: 0; 
 

  background: linear-gradient( rgb(252, 252, 210), rgb(255, 255, 255));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 
               'Courier New', monospace; /* Monospace font stack */
}
